{# serve as template for our fixtures. #}
{# for better coding experience, refuse to use yaml but embrace python (autocomplete) #}
{# render this to ".py.tmp" first, then modify it. #}

{% macro createTestFixture(className, params = "")%}
@fixture
def 测试{{className}}({{params}}):
    val = {{className}}(
{{caller()}}
    )
    return val
{% endmacro%}

from pytest import fixture
import sys
sys.path.append("../")
from ies_optim import *

{% for infoClassName, infoData in data.items() %}
    {% if infoClassName != "计算参数" %}
        {% set devInfoClassName = infoClassName+"信息"%}
        {% set devModelClassName = infoClassName+"模型"%}
        {% set devIDClassName = infoClassName+"ID"%}

{{infoClassName.center(70, "=")}}

        {% call createTestFixture(devInfoClassName) %}
            {%for infoName, infoValue in infoData.items()%}
        {{infoName}} = {{repr(infoValue)}},
            {%endfor%}
        {% endcall %}

        {% call createTestFixture(devIDClassName) %}
            {% for k,v in id_data[infoClassName] %}
        {{k}} = {{v}},
            {% endfor %}
        {% endcall %}

        {% call createTestFixture(devModelClassName, "测试{className}信息: {className}信息, model_wrapper: ModelWrapper, 测试计算参数: 计算参数, 测试{className}ID: {className}ID".format(className = infoClassName))%}
        PD={}, mw=model_wrapper, 计算参数实例=测试计算参数, 设备ID={{devIDClassName}}, 设备信息={{devInfoClassName}}
        {% endcall%}

    {% else%}

@fixture
def {{infoClassName}}():
    return ...
    {% endif %}


{% endfor %}
