{# serve as template for our fixtures. #}
{# for better coding experience, refuse to use yaml but embrace python (autocomplete) #}
{# render this to ".py.tmp" first, then modify it. #}

from pytest import fixture
import sys
sys.path.append("../")
from ies_optim import *
{% for infoClassName, infoData in data.items() %}
    {% if infoClassName != "计算参数" %}
@fixture
def 测试{{infoClassName}}信息():
    val = {{infoClassName}}信息(
        {%for infoName, infoValue in infoData.items()%}
        {{infoName}} = {{repr(infoValue)}},
        {%endfor%}
    )
    return val

@fixture
def 测试{{infoClassName}}设备():
    ...
    {% else %}
@fixture
def {{infoClassName}}():
    return ...
    {% endif %}

{% endfor %}
