# the main code for computing.
# currently just compute microgrid
# three computation modes:

# 8760 hours of data
# several days of data to compute a year

# 7200 seconds. simulation

# device parameters would be the same.

# load and environment might change.

# so for every device the will change.

# iterate through all device-port pairs, then retrieve attributes from another dict.

from pydantic import BaseModel
from typing import List
# string, digits, tables.
# you can dump and load from json.
{# 
class 加法器ID(BaseModel):
    输入:int
    输出:int
    输入输出: int #}

{% for super_class, class_name, mstrs, mdigits, mtables in 设备库 %}

class {{class_name}}ID(BaseModel):
    设备: int
    {% for port_name, port_type in 设备接口集合[class_name]%}
    {{ port_name }}: int
    """
    类型: {{ port_type }}
    """
    {% endfor %}

class {{class_name}}信息(BaseModel): # {{super_class}}
    {% for mstr in mstrs %}
    {{ mstr }}: str

    {% endfor %}
    
    {% for mdigit in mdigits %}
    {{ mdigit[0] }}: float
    """
    名称: {{ mdigit[1]}}
    单位: {{mdigit[2]}}
    """

    {% endfor %}

    {% for mtable in mtables %}
    {{ mtable[0][0]}}_{{ mtable[1][0]}} : List[List[float]]
    """
    {{ mtable[0][0]}}: {{ mtable[0][1]}}
    单位: {{ mtable[0][2]}}

    {{ mtable[1][0]}}: {{ mtable[1][1]}}
    单位: {{ mtable[1][2]}}
    """

    {% endfor %}
{% endfor %}

# model structure.

import pyomo

# first convert the unit.

{% for ... in ... %}
class {{class_name}}():
    def __init__(self, 设备ID: {{ class_name }}ID, 设备信息: {{ class_name }}信息):

{% endfor %}
