rich==13.3.5
networkx
pyomo==6.5.0
# pydantic
pydantic==1.10.7
# fastapi
fastapi==0.95.1
jinja2==3.1.2
ast-comments
numpy
# numpy==1.21.6
scipy
parse==1.19.0
pint==0.18
celery==5.3.0a1
importlib-metadata==4.13.0
orjson==3.9.1
redis==4.5.5
uvicorn==0.22.0
# tmuxp
pandas
# pandas==1.2.4
sympy
progressbar2
pytest
# returns
# ast-comments
better-exceptions
pytest-depends
pytest-timeout
beartype
astor
pyright==1.1.317 # for checking undefined variables
schedule
pyhumps # for case (naming) related conversion
pygments
strenum
docplex
cplex
flashtext
# func_timeout
levenshtein
python-dotenv