from pydantic import BaseModel
import networkx

class 拓扑图(BaseModel):
    def __init__(self, ):
        self.node_count = 0
        self.graph = networkx.Graph()

    def add_node(self,**kwargs):
        self.graph.add_node(self.node_count,**kwargs)
        self.node_count+=1
    # monotonically adding a node.
    def to_json(self,):
    def from_json(self,):
    # with checking.
    # iterate through all nodes.
# 下面的都需要传拓扑图进来

class 节点(BaseModel):
    def __init__(self, ):

class 母线(节点):
    def __init__(self, ):

class 设备(节点):
    def __init__(self, ):